body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}
.buttons {
    margin-bottom: 15px;
}
.buttons button {
    padding: 8px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}
.active, .btn:hover {
  background-color: #666;
  color: white;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
    justify-content: center;
}
.cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}
